body {
    background: #474646 url(img/body2.jpg) repeat-x;
    color: #333;
    margin: 0; padding: 0;
    font: 100%/1.5 'lucida grande', verdana, sans-serif;
    text-align: center; /* Zentriert den Inhalt für ältere Browser */
}

#container {
    margin: 0 auto; text-align: left;
    width: 1500px;
    padding: 1px; border: 1px solid #474B52;
    background: #fff;
    position: relative;
}

h1#kopfbereich {
    margin: 0; padding: 25px; border-bottom: 1px solid #fff;
    background: #31363E repeat-x;
    color: #fff;
}
h1#kopfbereich a {
    display: block; width: 440px; height: 132px;
    background: url(img/hfulogo.jpg) no-repeat;
    text-indent: -9999px;
}



#hauptnavi {
font: bold 15px georgia, serif;
    letter-spacing: 2px;
    background: #bebbbb url(img/hauptnavi-klein.gif) repeat-x; color: #ffffff;
}
#hauptnavi ul {
    padding: 0 25px; margin: 0;
list-style: none;
height: 38px; line-height: 38px;
    background: url(img/hauptnavi-bg.gif) no-repeat;
    }
#hauptnavi li {
    float: left;
}
#hauptnavi li a {
    color: #fff;
    text-decoration: none;
    margin-right: 17px;
    }
#hauptnavi li a:hover, #hauptnavi .aktiv {
    text-decoration: underline;
}

#mittelbereich {
    padding: 25px;
    font-size: 12px;
    clear: left;
    background: #fff;
    }
#mittelbereich h2 {
    margin: 0;
    font: 20px georgia, serif;
    letter-spacing: 1px;
    color: #444; border-bottom: 1px dotted #ab3;
    }
#mittelbereich p, #mittelbereich ul, #mittelbereich ol, #mittelebereich dl, #mittelbereich form
{
    margin-top: 7px; margin-bottom: 17px;
}
#mittelbereich a {
    color: #72811F; text-decoration: none;
    }
#mittelbereich a:hover {
    color: #333; text-decoration: underline;
    }
#mittelbereich .clearer {
    clear: both;
}

#inhalt {
    float: left; width: 800px;
}
#inhalt h3 {
font: 18px georgia, serif; margin-bottom: -4px;
    }
#inhalt h4 {
    font: bold 13px verdana, arial, sans-serif; margin-bottom: -3px;
    }
#inhalt h5 {
    font: bold 12px verdana, arial, sans-serif; margin-bottom: -3px;
    }
#sidebar {
    float: right; width: 500px;
}
#sidebar ul {
    list-style: none; padding-left: 0; margin-left: 0;
    }
#sidebar li {
margin-bottom: 1px; padding: 2px 0 2px 12px; border-bottom: 1px solid #eed;
    background: url(img/listen-icon.gif) no-repeat left 9px;
}

#footer {
background: #41454b url(img/footer.gif) repeat-x bottom center;
    color: #fff; padding: 25px 25px 10px 25px;
    font-size: 11px;
}


video {
    display: block;
    height: 200px;
}

img {
    height:200px;
}